body {
    background: #24273a;
    display: block;
    margin: 0;
    flex: 1;
}

h1,
h2,
h3,
h4,
p {
    color: #cad3f5;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1::before {
    content: "# ";
    color: #91d7e3;
}

h2::before {
    content: "## ";
    color: #91d7e3;
}

h3::before {
    content: "### ";
    color: #91d7e3;
}

h4::before {
    content: "#### ";
    color: #91d7e3;
}

p::before,
p::after {
    content: "<p>";
    color: #91d7e3;
}

.footerwrap {
    border-top: solid;
    background: #494d64;
    color: #8087a2;
    flex-grow: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.3rem 0;
}

.footeritems {
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.navwrap {
    border-bottom: solid;
    background: #494d64;
    color: #8087a2;
    flex-grow: 1;
}

.navitems {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.linksnav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.empty {
    all: unset;
}
.emoji {
    width: 1em;
    height: 1em;
}

.links {
    display: inline-flex;
    transition: 0.5s;
    color: #8087a2;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: #1e2030;
    padding: 9px 26px;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 1%;
    font-size: 0.9em;
}

.links:hover {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.05);
    transform: scale(1.03);
}

.links:active {
    transition: 0.2s;
    transform: scale(0.92)
}

.mainbody {
    position: absolute;
    padding: 15px 100px 0;
}

.mainbody a {
    color: #81c8be;
}

.name {
    margin-left: 10%;
}

#namemain {
    margin-left: 5%;
}